<div class="nav">
    <!-- Logo container -->
    <div class="logo_container">
        <a href="#home" class="logo-link">
            <img src="../../../assets/logo2.png" alt="logo_Img" title="logo_Img" class="logo_img"/>
            <span class="logo-text">Architekt</span>
        </a>
    </div>

    <ul class="nav_pages">
        <li class="list"><a href="#home">Home</a></li>
        <li class="list"><a href="#about">About</a></li>
        <li class="list"><a href="#services">Services</a></li>
        <li class="list"><a href="#blog">Blog</a></li>
        <li class="list"><a href="#contact">Contact Us</a></li>
    </ul>

    <div class="nav_btns">
        <button class="nav_btn">Get Started</button>
        <i class="fa-solid fa-bars" id="hamburger"></i>
    </div>
</div>