*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto' , 'Montserrat';
}
body{
    width:100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}

/* style the Header Container */

.header_container{
    width:100%;
}
.nav_bar{
    width:100%;
    position: fixed;
    top: 0px;
    background-color: #f5f0ec;
    z-index: 99;
}

header .hero_section{
    width:100%;
}

/* style the Main Section */

.main_container{
    width: 100%;
    background-color: #f8f4f1;
    padding: 10px 40px;
}

@media screen and (max-width: 595px){
    .main_container{
        padding: 20px 10px;
    }
}

.contact_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    /* padding: 0px 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
