<div class="about_container">
    <div class="about_content">

        <div class="content_left">
            <span>About Us</span>
            <h2 class="title_1">Designing Spaces <br> <span class="title">Creating Better Lives</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, assumenda non repudiandae vitae consequuntur ex ut soluta. Provident reprehenderit illo quam fugiat deserunt. Quibusdam culpa tenetur obcaecati atque accusamus laborum officiis, ducimus porro dolores.</p>
            <button>Learn more About Us</button>
        </div>
        <div class="content_middle">

            <div class="content_card">
                <div class="icon">
                    <i class="fa-solid fa-city content-icon"></i>
                </div>
                <div class="card_detail">
                    <h4>Our Vision</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sed modi molestiae mollitia nostrum recusandae possimus quisquam. Esse, suscipit earum.</p>
                </div>
            </div>

            <div class="content_card">
                <div class="icon">
                    <i class="fa-solid fa-bullseye content-icon"></i>
                </div>
                <div class="card_detail">
                    <h4>Our Mission</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sed modi molestiae mollitia nostrum recusandae possimus quisquam. Esse, suscipit earum.</p>
                </div>
            </div>

            <div class="content_card">
                <div class="icon">
                    <i class="fa-regular fa-gem content-icon"></i>
                </div>
                <div class="card_detail">
                    <h4>Our Values</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sed modi molestiae mollitia nostrum recusandae possimus quisquam. Esse, suscipit earum.</p>
                </div>
            </div>

            <div class="content_card">
                <div class="icon">
                    <i class="fa-solid fa-user-group content-icon"></i>
                </div>
                <div class="card_detail">
                    <h4>Client Focused</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sed modi molestiae mollitia nostrum recusandae possimus quisquam. Esse, suscipit earum.</p>
                </div>
            </div>
            
        </div>
        <div class="content_right">
            <img src="../../../assets/real-Estate.png" alt="home_img"/>
        </div>
    </div>
    <div class="testimonial_section">
        <div class="testimonial_card" id="#item1">
            <div class="img-section">
                <i class="fa-solid fa-city"></i>
            </div>
            <div class="test_content">
                <h3>10+</h3>
                <p>Years of Experience</p>
            </div>
        </div>

        <div class="testimonial_card" id="#item2">
            <div class="img-section">
                <i class="fa-regular fa-calendar"></i>
            </div>
            <div class="test_content">
                <h3>250+</h3>
                <p>Project Completed</p>
            </div>
        </div>

        <div class="testimonial_card" id="#item3">
            <div class="img-section">
                <i class="fa-regular fa-face-smile"></i>
            </div>
            <div class="test_content">
                <h3>98%</h3>
                <p>Client Satisfaction</p>
            </div>
        </div>

        <div class="testimonial_card" id="#item4">
            <div class="img-section">
                <i class="fa-solid fa-trophy"></i>
            </div>
            <div class="test_content">
                <h3>50+</h3>
                <p>Awards Won</p>
            </div>
        </div>

        <div class="testimonial_card_end">
            <h3>Trusted by Vlients,<br>Proven by Results</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, cum itaque soluta distinctio obcaecati voluptatibus. Laboriosam ipsa officia eligendi quisquam.</p>

        </div>
    
    
    
    </div>
</div>