<div class="services_container">
    <div class="upper_content">
        <div class="services_text">
            <span>OUR SERVICES</span>
            <h2>
                Solutions That Shape <br>
                The Built Environment
            </h2>
            <p>
                We combine creativity, technology, and strategy to
                deliver architectural solutions that make a real impact.
            </p>
        </div>

        <div class="services_image">
            <img src="../../../assets/services.jpg" alt="services_hero_img">
        </div>
    </div>

    <div class="services_cards_container">
        <!-- Cards will come here -->

    <!-- Card 1 -->
    <div class="service_card">
        <div class="service_icon">
            <i class="fa-solid fa-compass-drafting"></i>
        </div>

        <h3>Architectural Design</h3>

        <p>
            Innovative architectural designs that combine functionality,
            sustainability, and timeless aesthetics for residential and
            commercial spaces.
        </p>
    </div>

    <!-- Card 2 -->
    <div class="service_card">
        <div class="service_icon">
            <i class="fa-solid fa-couch"></i>
        </div>

        <h3>Interior Design</h3>

        <p>
            Beautiful interior spaces designed to maximize comfort,
            elegance, and practicality while reflecting your unique
            lifestyle and vision.
        </p>
    </div>

    <!-- Card 3 -->
    <div class="service_card">
        <div class="service_icon">
            <i class="fa-solid fa-file-lines"></i>
        </div>

        <h3>Planning & Consultation</h3>

        <p>
            Expert planning and professional consultation to transform
            your ideas into well-structured, efficient, and successful
            construction projects.
        </p>
    </div>

    <!-- Card 4 -->
    <div class="service_card">
        <div class="service_icon">
            <i class="fa-solid fa-cube"></i>
        </div>

        <h3>3D Visualization</h3>

        <p>
            High-quality 3D renderings and realistic visualizations that
            help you experience your project before construction begins.
        </p>
    </div>

</div>

    <button class="services_btn">
        View All Services →
    </button>
</div>